* {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction:rox;
    justify-content: center;
    align-items:center ;
    height: 100vh;
}

.item {
    border: 3px dotted rgb(253, 49, 202);
    padding: 10px;
    margin: 10px;
}
