* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {    
    text-decoration: none;
}

header {
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
   
   height: 200px;  
   background-color: rgb(238, 160, 16);
   grid-gap: 5px;
}

.main {
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
   height: 50px;
  color: rgb(0, 0, 0);
   background-color: rgb(255, 229, 81);
}

.sidebar {
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
   height: 500px;
  color: white;
  background-color: rgb(250, 240, 187);
}

footer {
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
   height: 100px;
   color: rgb(230, 29, 29);
   background-color: #FFA931;
}


.item-form{
    width: 400px;
    margin: 5px;
    grid-template-columns: 1fr 1fr;

}

.item-form-label{
    display: block;
    float: left;
    width: 200px;
    text-align: right;

 
}
